@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background: url('./Image/Background.png');
    background-position: 0 1000px;
    font-family: "Kanit";
}
 
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 15%;
    text-align: center;
}

h3 {
    color:black;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

p {
    color: black;
    font-size: 2rem;
    font-weight: 400;
}

.Image{
    margin-top: 5rem;
    margin-bottom: 5rem;
    border:#94c1fa;
    border-radius:5% ;
}
